<div id="wapper">
  <h1> Welcome to Crypto Watchlist App !</h1>
  
  <h4><a [routerLink]="['home']">Home</a> |
      <a [routerLink]="['bitcoin']">Bit Coin</a> |
      <a [routerLink]="['ethereum']">Ethereum</a> |
      <a [routerLink]="['litecoin']">Litecoin</a> |
      <a [routerLink]="['digitalcash']">Digital Cash</a> |
      <a [routerLink]="['monero']">Monero</a> |
      <a [routerLink]="['nxt']">NXT</a> |
      <a [routerLink]="['zcash']">ZCash</a> |
      <a [routerLink]="['ripple']">Ripple</a>
  </h4>
  <router-outlet></router-outlet>
</div>

