<div id="wapper">
	<h1>Digital Cash  Live Currency details in USD and EUR!</h1>
	<img src="./../../assets/digitalcash.jpg" alt="digitalcash pic">
	<div>
		<h3><u>Quick Information about Digital Cash:</u></h3>
		<p>DigitalCash (DASH) uses a new chained hashing algorithm approach, with many new scientific hashing algorithms for the proof-of-work. DASH aims to be the first privacy-centric cryptographic currency with fully encrypted transactions and anonymous block transactions, this feature is called PrivateSend and can be found on the official Dashcore wallet.</p>
	</div>
	<table>
			<thead>
				<tr>
					<td>Details</td>
					<td>USD Currency</td>
					<td>EUR Currency</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>From Symbol</td>
					<td>{{ fromSymbolusd }}</td>
					<td>{{ fromSymboleur }}</td>
				</tr>
				<tr>
					<td>To the Symbol coverted</td>
					<td>{{ toSymbolusd }}</td>
					<td>{{ toSymboleur }}</td>
				</tr>
				<tr>
					<td>Price</td>
					<td>{{ usdPrice }}</td>
					<td>{{ eurPrice }}</td>
				</tr>
				<tr>
					<td>Volume 24Hours</td>
					<td>{{ volumeHourUsd }}</td>
					<td>{{ volumeHourEur }}</td>
				</tr>
				<tr>
					<td>Volume 24Hours currency value</td>
					<td>{{ volumeHourToUsd }}</td>
					<td>{{ volumeHourToEur }}</td>
				</tr>
				<tr>
					<td>Market Capacity</td>
					<td>{{ marketCapUsd }}</td>
					<td>{{ marketCapEur }}</td>
				</tr>
				<tr>
					<td>Change in 24Hours</td>
					<td>{{ changepctUsd }}%</td>
					<td>{{ changepctEur }}%</td>
				</tr>
				<tr>
					<td>Last Trade</td>
					<td>{{ lastVolumeUsd }}({{ lastVolumeToUsd }})/{{ lastMarketUsd }}</td>
					<td>{{ lastVolumeEur }}({{ lastVolumeToEur }})/{{ lastMarketEur }}</td>
				</tr>
			</tbody>
	</table>
</div>











