<div id="wapper">
	<h1>Monero Live Currency details in USD and EUR!</h1>
	<img src="./../../assets/monero.jpg" alt="Monero pic">
	<div>
		<h3><u>Quick Information about Monero :</u></h3>
		<p>Monero (XMR) is a cryptonight algorithm based alternative crypto currency. The coin is based on Proof of Work and has a block reward that varies smoothly. The difficulty retargets every block with a sixty second block target. Monero uses a Ring Signature system to protect your privacy, allowing users to make untraceable transactions.</p>
	</div>
	<table>
			<thead>
				<tr>
					<td>Details</td>
					<td>USD Currency</td>
					<td>EUR Currency</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>From Symbol</td>
					<td>{{ fromSymbolusd }}</td>
					<td>{{ fromSymboleur }}</td>
				</tr>
				<tr>
					<td>To the Symbol coverted</td>
					<td>{{ toSymbolusd }}</td>
					<td>{{ toSymboleur }}</td>
				</tr>
				<tr>
					<td>Price</td>
					<td>{{ usdPrice }}</td>
					<td>{{ eurPrice }}</td>
				</tr>
				<tr>
					<td>Volume 24Hours</td>
					<td>{{ volumeHourUsd }}</td>
					<td>{{ volumeHourEur }}</td>
				</tr>
				<tr>
					<td>Volume 24Hours currency value</td>
					<td>{{ volumeHourToUsd }}</td>
					<td>{{ volumeHourToEur }}</td>
				</tr>
				<tr>
					<td>Market Capacity</td>
					<td>{{ marketCapUsd }}</td>
					<td>{{ marketCapEur }}</td>
				</tr>
				<tr>
					<td>Change in 24Hours</td>
					<td>{{ changepctUsd }}%</td>
					<td>{{ changepctEur }}%</td>
				</tr>
				<tr>
					<td>Last Trade</td>
					<td>{{ lastVolumeUsd }}({{ lastVolumeToUsd }})/{{ lastMarketUsd }}</td>
					<td>{{ lastVolumeEur }}({{ lastVolumeToEur }})/{{ lastMarketEur }}</td>
				</tr>
			</tbody>
	</table>
</div>











